/* Reset CSS */

/* Éléments HTML */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Réinitialisation de la liste */
ol,
ul {
  list-style: none;
}

/* Éléments de média intégrés par défaut */
embed,
iframe,
object {
  border: 0;
}

/* Éléments de formulaire par défaut */
button,
input,
select,
textarea {
  margin: 0;
}

/* Style de police par défaut pour les éléments de formulaire */
button,
input,
select,
textarea {
  font-family: inherit;
}

/* Rendre les éléments de formulaire incapables de recevoir le focus */
button,
input,
select,
textarea {
  outline: none;
}

/* Éléments de bloc génèrent leur contenu en ligne par défaut */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Éléments HTML5 audio et vidéo */
audio,
video {
  display: inline-block;
}

/* Éléments HTML5 audio et vidéo cachés par défaut */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Hyperliens non décorés par défaut */
a {
  text-decoration: none;
}

/* Rendre les éléments de texte sémantiques en ligne */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* Rendre les éléments de texte sémantiques en italique par défaut */
em {
  font-style: italic;
}

/* Rendre les éléments de texte fortes en gras par défaut */
strong {
  font-weight: bold;
}

/* Rendre les éléments ins et del réels */
ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

/* Rendre les citations en italique par défaut */
blockquote {
  margin: 1em 40px;
}

/* Névrose de pré-formatage */
pre {
  overflow: auto;
  margin: 0;
}

/* Tableaux par défaut ont une largeur de 100% */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Contrôle des médias visuels par défaut */
img {
  border: 0;
  max-width: 100%;
}

/* Bordures d'images réactives par défaut */
img,
object,
embed {
  max-height: 100%;
}

/* Réinitialiser la marge de l'élément de formulaire bouton */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  margin: 0;
}
